.rectangle-div13 {
  position: absolute;
  height: 253.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -153.91%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: var(--distance-drop-shaddow);
}
.alan-div6 {
  position: absolute;
  height: 26.96%;
  width: 39.06%;
  top: 37.39%;
  right: 37.95%;
  bottom: 35.65%;
  left: 22.99%;
  line-height: 25px;
  display: inline-block;
}
.group-icon9,
.mask-group-icon6,
.vector-icon6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon6 {
  height: 90.39%;
  width: 23.2%;
  top: 4.79%;
  right: 75.35%;
  bottom: 4.83%;
  left: 1.45%;
  object-fit: cover;
}
.group-icon9,
.vector-icon6 {
  height: 16.52%;
  width: 4.24%;
  top: 45.22%;
  right: 26.79%;
  bottom: 38.26%;
  left: 68.97%;
}
.group-icon9 {
  height: 99.99%;
  width: 25.67%;
  top: 8.85%;
  right: -1.1%;
  bottom: -8.84%;
  left: 75.44%;
}
.component-8-div6 {
  position: absolute;
  top: 70px;
  left: 0;
  width: 448px;
  height: 115px;
}
.pending-assistance-div,
.your-listing-div6 {
  position: absolute;
  height: 3.6%;
  width: 15.06%;
  top: 21.49%;
  right: 83.13%;
  bottom: 74.91%;
  left: 1.81%;
  line-height: 25px;
  display: inline-block;
}
.pending-assistance-div {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pending-invitations-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 437px;
  height: 32px;
  font-size: var(--font-size-6xl);
}
.rectangle-div14 {
  position: absolute;
  height: 251.72%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -151.72%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: var(--distance-drop-shaddow);
}
.sarah-div {
  position: absolute;
  height: 26.72%;
  width: 44.87%;
  top: 37.07%;
  right: 32.14%;
  bottom: 36.21%;
  left: 22.99%;
  line-height: 25px;
  display: inline-block;
}
.group-icon10,
.mask-group-icon7,
.vector-icon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon7 {
  height: 89.61%;
  width: 23.2%;
  top: 5.14%;
  right: 75.35%;
  bottom: 5.25%;
  left: 1.45%;
  object-fit: cover;
}
.group-icon10,
.vector-icon7 {
  height: 16.38%;
  width: 4.24%;
  top: 44.83%;
  right: 26.79%;
  bottom: 38.79%;
  left: 68.97%;
}
.group-icon10 {
  height: 99.13%;
  width: 25.67%;
  top: 9.17%;
  right: -1.1%;
  bottom: -8.3%;
  left: 75.44%;
}
.component-9-div {
  position: absolute;
  top: 392px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 448px;
  height: 116px;
}
.jack-div {
  position: absolute;
  height: 27.83%;
  width: 33.04%;
  top: 36.52%;
  right: 43.97%;
  bottom: 35.65%;
  left: 22.99%;
  line-height: 25px;
  display: inline-block;
}
.group-icon11,
.mask-group-icon8,
.vector-icon8 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon8 {
  height: 90.39%;
  width: 23.2%;
  top: 4.72%;
  right: 75.35%;
  bottom: 4.89%;
  left: 1.45%;
  object-fit: cover;
}
.group-icon11,
.vector-icon8 {
  height: 16.52%;
  width: 4.24%;
  top: 44.35%;
  right: 26.79%;
  bottom: 39.13%;
  left: 68.97%;
}
.group-icon11 {
  height: 99.99%;
  width: 25.67%;
  top: 8.78%;
  right: -1.1%;
  bottom: -8.78%;
  left: 75.44%;
}
.component-10-div {
  position: absolute;
  top: 715px;
  left: 0;
  width: 448px;
  height: 115px;
}
.your-listing-div7,
.your-listing-div8 {
  position: absolute;
  height: 3.6%;
  width: 15.06%;
  top: 59%;
  right: 83.13%;
  bottom: 37.4%;
  left: 1.81%;
  line-height: 25px;
  display: inline-block;
}
.your-listing-div8 {
  top: 96.4%;
  bottom: 0;
}
.group-icon12 {
  position: absolute;
  height: 99.99%;
  width: 25.67%;
  top: 8.85%;
  right: -1.11%;
  bottom: -8.84%;
  left: 75.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-11-div {
  position: absolute;
  top: 70px;
  left: 714px;
  width: 448px;
  height: 115px;
}
.your-listing-div9 {
  position: absolute;
  height: 3.6%;
  width: 15.06%;
  top: 21.49%;
  right: 21.69%;
  bottom: 74.91%;
  left: 63.25%;
  line-height: 25px;
  display: inline-block;
}
.pending-invitations-div1 {
  position: absolute;
  top: 0;
  left: 714px;
  width: 437px;
  height: 32px;
  font-size: var(--font-size-6xl);
}
.group-icon13 {
  position: absolute;
  height: 99.13%;
  width: 25.67%;
  top: 9.17%;
  right: -1.11%;
  bottom: -8.3%;
  left: 75.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-12-div {
  position: absolute;
  top: 392px;
  left: 714px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 448px;
  height: 116px;
}
.group-icon14 {
  position: absolute;
  height: 99.99%;
  width: 25.67%;
  top: 8.78%;
  right: -1.11%;
  bottom: -8.78%;
  left: 75.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-13-div {
  position: absolute;
  top: 715px;
  left: 714px;
  width: 448px;
  height: 115px;
}
.your-listing-div10 {
  position: absolute;
  height: 3.6%;
  width: 15.06%;
  top: 59%;
  right: 21.69%;
  bottom: 37.4%;
  left: 63.25%;
  line-height: 25px;
  display: inline-block;
}
.actions-div1 {
  position: relative;
  width: 1162px;
  height: 861px;
  mix-blend-mode: darken;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
