.b2,
.rectangle-icon {
  position: absolute;
  top: 0;
}
.rectangle-icon {
  left: 987px;
  width: 453px;
  height: 1024px;
}
.b2 {
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.gengen-b1,
.group-div15 {
  position: absolute;
  font-family: var(--font-space-grotesk);
}
.group-div15 {
  top: 582px;
  left: 154px;
  width: 7px;
  height: 24px;
  opacity: 0.1;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.gengen-b1 {
  top: 52px;
  left: 64px;
  font-size: var(--font-size-6xl);
  line-height: 24px;
  display: inline-block;
  background: linear-gradient(
    93.38deg,
    #ff6428,
    #ff6428 37.08%,
    #ff6428 83.25%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.stroke-5-icon1 {
  position: absolute;
  height: 60.34%;
  width: 46.59%;
  top: 0;
  right: 53.41%;
  bottom: 39.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.05;
}
.actions-div {
  position: absolute;
  top: 13px;
  left: 49px;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.add-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 38px;
  overflow: hidden;
}
.action-button-div,
.seperator-div {
  position: absolute;
  top: 408px;
  left: 74px;
  width: 132px;
  height: 38px;
}
.seperator-div {
  top: 197px;
  left: -2px;
  border-top: 4px solid var(--secondary-brand);
  box-sizing: border-box;
  width: 276px;
  height: 4px;
}
.communitylocation-div,
.profile-name-b {
  position: absolute;
  top: 40px;
  left: 53px;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.profile-name-b {
  top: 0;
  left: 99px;
  font-family: var(--font-inter);
}
.avatar-div {
  position: absolute;
  top: 186px;
  left: 0;
  width: 272px;
  height: 199px;
  text-align: center;
}
.logout-div {
  position: absolute;
  top: 7px;
  left: 49px;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.block-icon {
  position: absolute;
  height: 100%;
  width: 30.4%;
  top: 0;
  right: 69.6%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jpn-min-1-icon,
.logout-button-div {
  position: absolute;
  top: 471px;
  left: 74px;
  width: 125px;
  height: 38px;
}
.jpn-min-1-icon {
  top: 0;
  left: 64px;
  border-radius: var(--br-xl);
  width: 156px;
  height: 156px;
  object-fit: cover;
}
.communitylocation-div1,
.user-options-div {
  position: absolute;
  font-family: var(--font-roboto);
  color: var(--color-white);
}
.user-options-div {
  top: 254px;
  left: 1080px;
  width: 272px;
  height: 509px;
}
.communitylocation-div1 {
  top: 519px;
  left: 1172px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}
.rectangle-div7 {
  position: absolute;
  height: 253.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -153.91%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orange);
}
.alan-div {
  position: absolute;
  height: 26.96%;
  width: 39.06%;
  top: 37.39%;
  right: 37.95%;
  bottom: 35.65%;
  left: 22.99%;
  line-height: 25px;
  display: inline-block;
}
.group-icon3,
.mask-group-icon,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon {
  height: 94.16%;
  width: 24.24%;
  top: 2.9%;
  right: 74.83%;
  bottom: 2.94%;
  left: 0.93%;
  object-fit: cover;
}
.group-icon3,
.vector-icon {
  height: 16.52%;
  width: 4.24%;
  top: 45.22%;
  right: 26.79%;
  bottom: 38.26%;
  left: 68.97%;
  display: none;
}
.group-icon3 {
  height: 47.82%;
  width: 12.27%;
  top: 28.85%;
  right: 5.59%;
  bottom: 23.33%;
  left: 82.13%;
}
.component-8-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 401.35px;
  height: 103.74px;
}
.digitalise-with-ease {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.frame-div1 {
  position: absolute;
  top: 25.26px;
  left: 240.09px;
  border-radius: var(--br-lg);
  background-color: var(--color-red);
  width: 146.03px;
  height: 54.12px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.your-listing-div {
  position: absolute;
  height: 23.97%;
  width: 39.06%;
  top: 76.03%;
  right: 54.91%;
  bottom: 0;
  left: 6.03%;
  line-height: 25px;
  display: inline-block;
}
.group-div16 {
  color: var(--color-gray-700);
}
.group-div16,
.group-div17,
.group-div18 {
  position: absolute;
  top: 254px;
  left: 64px;
  width: 401.35px;
  height: 156.61px;
}
.group-div18 {
  top: 255.8px;
  left: 531.65px;
}
.group-div19 {
  color: var(--color-gray-700);
}
.group-div19,
.group-div20,
.group-div21 {
  position: absolute;
  top: 556.2px;
  left: 64px;
  width: 401.35px;
  height: 156.61px;
}
.group-div21 {
  top: 558px;
  left: 531.65px;
}
.profile-page-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1100);
  font-family: var(--font-inter);
}
