.rectangle-div41 {
  position: absolute;
  top: 0;
  left: 787px;
  background: linear-gradient(
    162.21deg,
    #ff8c60 1.09%,
    #ff7846 28.65%,
    #ff2e00
  );
  filter: blur(5px);
  width: 653px;
  height: 1024px;
}
.you-have-not-lived-today-until2 {
  position: absolute;
  top: 344px;
  left: 877px;
  font-size: var(--font-size-6xl);
  line-height: 50px;
  display: inline-block;
  color: #e4e4e4;
  width: 412px;
}
.b4,
.john-bunyan2 {
  position: absolute;
  top: 0;
  line-height: 24px;
  display: inline-block;
}
.john-bunyan2 {
  left: 11px;
  width: 172px;
}
.b4 {
  left: 0;
}
.group-div51,
.group-div52 {
  position: absolute;
  top: 611px;
  left: 884px;
  width: 183px;
  height: 24px;
  color: var(--color-white);
}
.group-div52 {
  top: 655px;
  width: 7px;
  opacity: 0.1;
}
.lets-get-you-started1 {
  position: absolute;
  top: 176px;
  left: 195px;
  font-size: var(--font-size-2xl);
  line-height: 36px;
  display: inline-block;
}
.learn-more-b {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.frame-div14 {
  position: absolute;
  top: 36px;
  left: 1289px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.doe-div1 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 16px;
  display: inline-block;
}
.group-div54,
.rectangle-div42 {
  position: absolute;
  left: 0;
  width: 400px;
  height: 40px;
}
.rectangle-div42 {
  top: 0;
  border-radius: var(--br-2xs);
  box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.group-div54 {
  top: 28px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1100);
}
.group-div53,
.group-div55,
.group-div57 {
  position: absolute;
  top: 316px;
  left: 194px;
  width: 400px;
  height: 68px;
}
.group-div55,
.group-div57 {
  top: 224px;
  left: 195px;
}
.group-div57 {
  top: 408px;
  left: 194px;
}
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 12px;
  line-height: 16px;
  display: inline-block;
}
.div6 {
  left: 60px;
  color: var(--color-black);
}
.div7,
.div8,
.div9 {
  left: 102px;
}
.div8,
.div9 {
  left: 166px;
}
.div9 {
  left: 131px;
}
.group-icon24 {
  position: absolute;
  height: 40%;
  width: 9%;
  top: 30%;
  right: 87%;
  bottom: 30%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div59 {
  position: absolute;
  top: 500px;
  left: 194px;
  width: 400px;
  height: 68px;
}
.location-div1,
.optional-div2 {
  position: absolute;
  display: inline-block;
}
.location-div1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.optional-div2 {
  top: 5px;
  left: 77px;
  line-height: 16px;
  color: var(--color-gray-200);
}
.group-icon25 {
  position: absolute;
  height: 40%;
  width: 4%;
  top: 30%;
  right: 4%;
  bottom: 30%;
  left: 92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div61,
.group-div62 {
  position: absolute;
  width: 400px;
}
.group-div62 {
  top: 28px;
  left: 0;
  height: 40px;
  color: var(--color-gray-1100);
}
.group-div61 {
  top: 736px;
  left: 194px;
  height: 68px;
  display: none;
  font-size: var(--font-size-xs);
}
.create-password-div1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-black);
  display: inline-block;
}
.password-must-contain-a-minimu1,
.password-must-contain-at-least1 {
  position: absolute;
  top: 80px;
  left: 0;
  line-height: 16px;
  display: inline-block;
}
.password-must-contain-at-least1 {
  top: 104px;
}
.group-div63,
.group-icon26 {
  position: absolute;
  top: 26px;
  left: -4px;
  width: 408px;
  height: 48px;
}
.group-div63 {
  top: 592px;
  left: 194px;
  width: 400px;
  height: 120px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1100);
}
.rectangle-div47 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-red);
  box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
  border: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 400px;
  height: 40px;
}
.sign-up-b1 {
  position: absolute;
  top: 8px;
  left: 171px;
  line-height: 24px;
  display: inline-block;
}
.group-div64 {
  position: absolute;
  top: 736px;
  left: 195px;
  width: 400px;
  height: 40px;
  color: var(--color-white);
}
.gengen-b3,
.login-b2 {
  position: absolute;
  line-height: 24px;
  display: inline-block;
}
.gengen-b3 {
  top: 40px;
  left: 64px;
  font-size: var(--font-size-2xl);
  background: linear-gradient(
    93.38deg,
    #ff6428,
    #ff6428 37.08%,
    #ff6428 83.25%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-b2 {
  top: 0;
  left: 128px;
  text-decoration: underline;
  color: var(--color-gray-800);
  cursor: pointer;
}
.group-div65 {
  position: absolute;
  top: 828px;
  left: 292px;
  width: 171px;
  height: 24px;
  color: var(--color-gray-200);
}
.stroke-5-icon3 {
  position: absolute;
  height: 60.34%;
  width: 46.59%;
  top: 0;
  right: 53.41%;
  bottom: 39.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.05;
}
.registeration-page-div1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
